#contact {
  padding: 50px 0;
  .btn-primary {
    background-color: $fire-color !important;
    border-color: $fire-color;
    &:hover {
      background-color: $fire-color !important;
      border-color: $fire-color;
    }
  }
}

#footer {
  .btn-primary {
    background-color: $main-furniture-color !important;
    border-color: $main-furniture-color;
    min-width: 140px !important;
    margin: 0 !important;
    padding: 10px 20px !important;
    &:hover {
      background-color: $main-furniture-color !important;
      border-color: $main-furniture-color;
    }
  }
}
