#portfolio {
  padding: 50px 0;
  .container-fluid {
    .portfolioWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      .portfolioCard {
        max-width: 600px;
        width: 100%;
        img {
          width: 100%;
          object-fit: cover;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }
        &__title {
          font-size: 24px;
          font-weight: 700;
          margin: 20px 0;
        }
        &__description {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 20px;
        }
      }
    }
  }
}
